<div class="form-container">
    <h1>Cadastro de produtos</h1>
    <form action="/add" method="POST">
        <div>
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Nome do produto">
        </div>
        <div>
            <label for="price">Preço:</label>
            <input type="text" name="price" placeholder="Preço do produto">
        </div>
        <input type="submit" value="Cadastrar">
    </form>
</div>