<div class="form-container">
    <h1>login</h1>
    <form action="/user/login" method="POST">
        <div class="sub-container">
            <label for="email">Email:</label>
            <input type="text" name='email' placeholder="Digite seu email">
        </div>

        <div class="sub-container">
            <label for="password">Senha:</label>
            <input type="text" name='password' placeholder="Digite sua senha">
        </div>
        <input type="submit" value="Entrar" class="btn">
    </form>
    <p>Ainda não tem uma conta? <a href="/user/register">Clique aqui!</a></p>
</div>