<div class="form-container">
    <h1>Cadastro</h1>
    <form action="/user/register" method="POST">
        <div class="sub-container">
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Digite seu nome...">
        </div>
        <div class="sub-container">
            <label for="email">E-mail:</label>
            <input type="text" name="email" placeholder="Digite seu email...">
        </div>
        <div class="sub-container">
            <label for="passowrd">Senha:</label>
            <input type="text" name="password" placeholder="Digite sua senha...">
        </div>
        <div class="sub-container">
            <label for="confirmpassword">Repetir senha:</label>
            <input type="text" name="confirmpassword" placeholder="Repita sua senha...">
        </div>
        <input type="submit" value="Cadastrar" class="btn">
    </form>
    <p>Já possui uma conta? <a href="/user/login">Clique aqui!</a></p>
</div>