* {
    box-sizing: border-box;
    margin: 0;
    font-family: helvetica;
}

body {
    background-color: rgb(255, 240, 221);
}

/* barra de navegação */
nav {
    background-color: rgb(75, 50, 34);
    height: 30px;
    vertical-align: middle;
    position: static;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 15px;
    list-style: none;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

/* logo */
.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 100px;
    height: auto;
    margin: 10px;
}

/* formulários */

.form-container {
    background-color: white;
    max-width: 500px;
    margin-top: 20px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.397);
}

.form-container h1 {
    text-align: center;
}


.form-container input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.form-container input {
    border: 1px solid rgb(88, 47, 30);
}

.form-container p {
    padding-top: 30px;
}

.form-container a {
    color: rgb(88, 47, 30);
    text-decoration: none;
    font-weight: bolder;
}

.btn {
    background-color: rgb(88, 47, 30);
    border: none;
    border-radius: 5px;
    height: 30px;
    color: white;
    margin-top: 10px;
}

.btn:hover {
    background-color: rgba(88, 47, 30, 0.87);
}

.btn:active {
    background-color: white;
    color: brown;
}

