<div class="container">
    <h1>Login</h1>
    <form action="/user" method="POST">
        <div class="form_container">
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="Digite seu E-mail">
        </div>
        <div class="form-container">
            <label for="password">Senha: </label>
            <input type="password" name="password" placeholder="Digite sua senha">
        </div>
        <input type="submit" value="Entrar">
    </form>
    <p><a href="/register">Clique aqui</a> para criar uma conta!</p>
</div>