<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Produtos</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Produtos</a></li>
            <li><a href="/add">Cadastrar</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>