<div class="container">
    <h1>Cadastro de produtos</h1>
    <form action="/product/create" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Digite o nome...">
        </div>
        <div>
            <label for="price">Preço:</label>
            <input type="text" name="price" placeholder="Digite o preço...">
        </div>
            <input type="submit" value="Cadastrar">
    </form>
</div>